.Users {
flex: 1;
border: 2px solid rgb(68, 58, 155);
}

.UsersOnline {
    background-color: cadetblue;
    text-align: center;
} 

.UsersList {
    
    border-bottom: 2px solid rgb(68, 58, 155);
    border-top: 2px solid rgb(68, 58, 155);
    list-style: none;
    margin: 0 auto;
    padding-left: 0px;
}

.UserItem {
    list-style-type: none;
    font-size: 20px;
}

