.UserForm {
    margin-top:50vh;
}

.UserInput {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-bottom: 1px dashed black;
    font-size: 1em;
    font-weight: bold;

}

.UserInput::placeholder {
    color: red;
    font-style: italic;
    font-weight: normal;
    
}
.UserInput:focus {
    outline: none;
}